body{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    background-color:antiquewhite;
    color: #333;
    margin: 0;
    padding: 0;
}
header h1{
    margin-top: 40px;
    font-size: 2.5em;
}
section{
    margin: 20px auto;
    width:80%;
   max-width: 600px;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  background: #fff;
  margin: 8px 0;
   padding: 10px;
   border-radius: 5px;
}
button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 1em;
  background-color:cadetblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color:brown;
}
@media (max-width: 600px) {
    body {
    font-size: 16px;
  }
    header h1 {
    font-size: 2em;
  }
   section {
    width: 90%;
  }
}