.footer {
  background-color: #ababab9b;
  color: #000;
  padding: var(--spacing-20) var(--spacing-40);
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.footer h3 {
  color: #000;
  font-size: large;
  padding: var(--spacing-08) 0;
}

.footer a,
p {
  color: #000;
  font-size: medium;
  font-weight: 200;
  text-align: start;
  text-decoration: none;
}

.footer li {
  list-style: none;
}

.footerDescription {
  max-width: 300px;
  text-align: start;
}

.footerDescription p {
  margin-block-end: var(--spacing-20);
}

.footerLinks {
  gap: var(--spacing-20);
}

.footerList {
  list-style-type: none;
}

.footerList li {
  display: flex;
  align-items: center;
  gap: var(--spacing-08);
  padding-block: var(--spacing-04);
}
.footerList a {
  display: flex;
  align-items: center;
  gap: var(--spacing-08);
}

.socialIcon {
  width: 16px;
  height: 16px;
  margin-right: var(--spacing-08);
  display: inline-block;
  vertical-align: middle;
  object-fit: contain;
}
