body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #f0f0f0;
  background-color: #13133d;
}

.portfolio-container {
  display: flex;
  min-height: 100vh;
}

.left-column {
  flex: 1;
  background-color: #050525;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1.5rem;
  text-align: center;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #093050;
  margin-bottom: 2rem;
  object-fit: cover;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.navigation .nav-link {
  display: block;
  color: #f0f0f0;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-size: 18px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.navigation .nav-link:hover {
  color: #4682b4;
}

.right-column {
  flex: 2.5;
  background-color: #13133d;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-column h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 1rem;
}

.right-column p {
  font-size: 1.1rem;
  line-height: 1.7;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.right-column ul {
  display: flex;
  flex-direction: row;
  gap: 6px;
  padding: 0;
  list-style: none;
}

.right-column ul li {
  padding: 8px 12px;
  background-color: #4682b4;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.contact-button {
  background-color: transparent;
  color: #f0f0f0;
  padding: 0.8rem 1.8rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  margin-right: 1rem;
  border: 2px solid #f0f0f0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-button:hover {
  background-color: #f0f0f0;
  color: #000080;
}

.fun-button {
  margin-top: auto;
  padding: 0.7rem 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #00008b;
  background-color: #f0f0f0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.fun-button:hover {
  background-color: #c0c0c0;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .portfolio-container {
    flex-direction: column;
  }

  .left-column {
    padding-bottom: 2rem;
  }

  .right-column {
    justify-content: flex-start;
    padding: 3rem 1.5rem;
    text-align: center;
  }

  .right-column h1 {
    font-size: 2.5rem;
  }

  .right-column ul {
    display: flex;
    justify-content: center;
  }

  .buttons-container {
    display: flex;
    justify-content: center;
  }

  .contact-button {
    padding: 0.7rem 1.2rem;
    margin: 0 0.5rem;
  }

  .fun-button {
    margin-top: 2rem;
  }
}
