body{
  font-family: sans-serif;
 background-color:#9adad8;
   line-height: 1.6;
  margin: 0;
  padding: 0;
}
header{
    background-color: #e4daca;
   padding: 20px;
   
}
header h1 {
  margin: 0;
  font-size: 2rem;
}
header p {
  margin: 5px 0 0;
  font-style: italic;
}
main {
  display: flex;
  gap: 20px;
  padding: 20px;
}
section {
  flex: 2;
}
aside {
  flex:2;
  
}
.prodsale {
  align-items:center;
  text-align:center;
}
.prodsaleh3{
  align-items:center;
  text-align:center;
}
table, th, td {
  border: 1px solid black;
}
table {
   height: 70px;
  width: 100%;
}
#navbar {
  position: sticky;
  top: 0;
 background-color: #333;
}
#navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#navbar a:hover {
  color:#527385;
}
input:focus {
background-color: #9e9a77;
}
.formElements h3{
  text-align: center;
}
label,
textarea,
button,input,select{
 display: block;
   margin: 10px auto;
    text-align: center; 
}
button{
  font-size: 18px;
}
footer {
  text-align: center;
  padding: 15px;
  background: #222;
  color: #fff;
  font-size: 0.9rem;
}
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
 
}