body{background-color:powderblue;
padding:15px10px;
display:inherit;
  position:absolute;
  border-style:double;
}
h1{
  display:inline-block;
  background-color:lightgray;color:blue;
  font-family:verdana;
  font-size:200%;
  text-align:center;
  padding:15px 10px;
 
  }
.container{
  position relative; left:30px; border:3px solid #73AD21;
    background-color:#73AD21;
  width:100%;
    }
#title{
  display:inherit;
    border-width:2px;
    text-align:left;
  display:inline-block;
   }
#fname{ display:block;
 position:initial;
  padding:5px;
  border-width:2px;
text-align:left;}
#lname{ display:inherit;
  border-width:2px;
  text-align:left;
}
#email{ display:inherit;
  border-width:2px;
}
#message{ display:inherit;
  border-width:2px;
  }
textarea{
  background-color:white;
  color:white;
  font-size:14px;
  font-family:tahoma;
}
button{background-color:tomato;
color:black;
border:2px solid tomato;
font-size:20px;
  position:static;
}

.button:hover{background-color: green;
border:thin;
color:white;
padding:15px32px;
text-align:center;
text-decoration:none;
display:inline-block;
font-size:16px;
cursor:pointer;}