body {
  margin: 0;
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f0f0f0;
  background-color: #0c2340;
}

.portfolio-container {
  display: flex;
  min-height: 100vh;
}

.left-column {
  flex: 1;
  background-color: #07172a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 1.5rem;
  text-align: center;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #4682b4;
  margin-bottom: 1rem;
  object-fit: cover;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.navigation .nav-link {
  display: block;
  color: #f0f0f0;
  text-decoration: none;
  padding: 0.6rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.navigation .nav-link:hover {
  color: #60a8e2;
  transition-delay: 10s;
}

.right-column {
  flex: 2.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0c2340;
  padding: 5rem;
}

.right-column h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 1rem;
}

.right-column p {
  font-size: 1.1rem;
  line-height: 1.7;
  font-weight: 300;
  margin-bottom: 0.2rem;
}

.right-column ul{
    display: flex;
    gap: 20px;
    padding: 0;
    list-style: none;
    margin-bottom: 2.5rem;
}

.right-column ul li {
    padding: 4px 8px;
    border-radius: 10px;
    background-color: #4682b4;
    cursor: default;
}

.contact-button {
  background-color: transparent;
  color: #f0f0f0;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  margin-right: 1rem;
  border: 2px solid #f0f0f0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-button:hover {
  background-color: #f0f0f0;
  color: #000080;
}

.fun-button {
    margin-top: auto;
    padding: 0.6rem 0.6rem;
    font-weight: 600;
    font-size: 1rem;
    color: #00008B;
    background-color: #f0f0f0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.fun-button:hover {
    background-color: #c0c0c0;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .portfolio-container {
        flex-direction: column;
    }

    .left-column {
        padding-bottom: 2rem;
    }

    .right-column {
        justify-content: flex-start;
        padding: 3rem 1.5rem;
        text-align: center;
    }

    .right-column h1 {
        font-size: 2.5rem;
    }
    
    .buttons-container, .right-column ul {
        display: flex;
        justify-content: center;
    }

    .contact-button {
        padding: 0.7rem 1.2rem;
        margin: 0 0.5rem;
    }
    
    .fun-button {
        margin-top: 2rem;
    }
}